<<<<<<< HEAD
<h1>All Posts</h1>

=======


<h1>All Posts</h1>
>>>>>>> 1cc99e7f5f05ad43273317b0f28dab1bf9d03829
<% @posts.each do |post| %>
     <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to post.title, post %>
       </h4>
     </div>
   </div>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> 1cc99e7f5f05ad43273317b0f28dab1bf9d03829
