// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  color: red;
}

p#index-title {
  text-align: center;
  font-size: 15px;
  color: blue;
}

.social-btn {
    width: 78px;
    border: 1px solid #900;
    padding: 10px;
    margin: 0;
    background: #fee;
}

box {
    width: 78px;
    border: 1px solid #900;
    padding: 10px;
    margin: 0;
    background: #fee;
}

#box_a { 
  position: absolute; 
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px; 
  background: red; 
}

.posts {
  border: solid;
  margin: 5px; 
  padding: 5px;
  height: 200px;
}

.boxed {
  border: 1px solid green ;
}

section {
   background: #5998ff;
   border-style: solid;
   border-width: 5px;
   margin: 5px 5px 5px 5px;
   padding: 15px 5px 15px 5px;
 }